:root {
  --background-primary: #fff;
  --background-secondary: #eff2f7;

  --foreground-primary: #0a0a0a;

  --foreground-inverse-primary: #fafafa;

  --card-bg: var(--background-primary);

  --correct-color: #157145;
  --incorrect-color: #88230d;

  --accent-blue: #2475ce;

  --subtle-blue: #a8cbf0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  height: 100%;
}

#app .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 120px;
}

.word-placeholders {
  display: flex;
  align-items: center;
  gap: 4px;
}

.word-placeholder {
  width: 80px;
  height: 80px;
  border: 1px dashed #cecece;
  border-radius: 12px;
  transition: border-color 0.4s ease;
}

.word-placeholder.highlighted {
  border-color: var(--accent-blue);
}

.word-letters {
  display: flex;
  width: 600px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.word-letter {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--background-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: grab;
  user-select: none;
  top: 0;
  left: 0;
  transition: border-color 0.2s ease;
  border: 1px solid transparent;
}

.word-letters .word-letter:hover {
  /* background-color: var(--background-secondary); */
  border: 1px solid var(--subtle-blue);
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -20%);
    background: var(--state-color);
    color: var(--foreground-inverse-primary);
  }

  100% {
    transform: translate(0, 0);
    background: var(--state-color);
    color: var(--foreground-inverse-primary);
  }
}

.word-letter.correct {
  --state-color: var(--correct-color);

  animation: jump 0.5s forwards;
}

.word-letter.incorrect {
  --state-color: var(--incorrect-color);

  animation: jump 0.5s forwards;
}
