@import "./modal.css";

:root {
  --background-primary: #006bff;
  --background-secondary: #eff2f7;

  --background-inverse-primary: #ffffff;

  --foreground-primary: #ffffff;

  --foreground-inverse-primary: #0a0a0a;

  --card-bg: var(--accent-yellow);

  --correct-color: #00e978;
  --incorrect-color: #88230d;

  --accent-yellow: #ffe053;
  --accent-blue: #006bff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

#app {
  display: flex;
  justify-content: center;
  height: 100%;
}

#app .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  padding: 16px;
}

.word-heading {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  font-size: clamp(1.5rem, 7vw, 2.5rem);
}

.word-placeholders-wrapper {
  max-width: 800px;
  height: 420px;
  width: 100%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  flex-direction: column;
  gap: 12px;
  padding-inline: 16px;
}

.word-placeholders-label {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 8px;
  background: var(--background-primary);
}

.word-placeholders {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  justify-content: center;
}

.word-placeholder {
  max-width: 80px;
  width: 100%;
  aspect-ratio: 1;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  transition: border-color 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-placeholder.highlighted {
  border-color: #fff;
}

.word-placeholder .word-letter {
  --card-bg: white;

  margin: -1px;
}

.word-tip-text {
  font-size: 18px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.word-letters {
  display: flex;
  width: 600px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(80px * 2 + 8px);
  height: 250px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='white' stroke-width='4' stroke-dasharray='26%2c 16' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  margin-top: 28px;
  padding: 16px;
}

.word-letter {
  max-width: 80px;
  aspect-ratio: 1;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  background-color: var(--card-bg);
  color: var(--accent-blue);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: grab;
  user-select: none;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
  font-weight: 700;
}

.word-letters .word-letter:hover {
  border: 1px solid var(--subtle-blue);
}

.scoreboard-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 20px;
}

.scoreboard,
.scoreboard-ghost {
  font-weight: 700;
}

@keyframes join {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  10% {
    transform: translate(0, 10%);
    opacity: 1;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.scoreboard {
  display: inline-block;
  animation: pop 0.25s ease-in;
  animation-delay: 0.25s;
}

.scoreboard-ghost {
  animation: join 0.5s ease-in forwards;
}

.word-button {
  padding: 12px 16px;
  background-color: var(--accent-yellow);
  color: var(--accent-blue);
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  font-family: inherit;
  margin-top: 24px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: none;
}

.word-button.show {
  display: initial;
}

.word-button:hover {
  opacity: 0.9;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -20%);
    background: var(--state-color);
    color: var(--foreground-primary);
  }

  100% {
    transform: translate(0, 0);
    background: var(--state-color);
    color: var(--foreground-primary);
  }
}

.word-letter.correct {
  --state-color: var(--correct-color);

  animation: jump 0.5s forwards;
}

.word-letter.incorrect {
  --state-color: var(--incorrect-color);

  animation: jump 0.5s forwards;
}
